@import "~izitoast/dist/css/iziToast.min.css";
body {
  background: #191B28;
  background-image: url("https://www.rebase.capital/assets/rebasefarm.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
